<!DOCTYPE html>
<html>

  <head>
    <title>Kickstarter</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic" />
  </head>

  <body>
    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
      
        <form action="/data" method = "POST">
          <p> Input your kickstarter conditions</p>
          <p>Percent Pledged<input type = "number" placeholder="ex. 50" name = "percentage_pledged" /></p>
          <p>Number of backers<input type = "number" placeholder="ex. 4000" name = "num_backers" /></p>
          <p>Length of the campaign:<input type = "number" placeholder="ex. 365" name = "campaign_length" /></p> </p>
          <label for="currency">Choose a currency:</label>
<select name="currency" id="currency">
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
        <option value="EUR">EUR</option>
        <option value="CAD">CAD</option>
        <option value="AUD">AUD</option>
        <option value="SEK">SEK</option>
        <option value="MXN">MXN</option>
        <option value="NZD">NZD</option>
        <option value="DKK">DKK</option>
        <option value="CHF">CHF</option>
        <option value="NOK">NOK</option>
        <option value="HKD">HKD</option>
        <option value="SGD">SGD</option>
        <option value="JPY">JPY</option>
        </select>
<label for="category">Choose a category:</label>
<select name="category" id="category">
        <option value="Technology">Technology</option>
        <option value="Comics">Comics</option>
        <option value="Crafts">Crafts</option>
        <option value="Dance">Dance</option>
        <option value="Design">Design</option>
        <option value="Fashion">Fashion</option>
        <option value="Film & Video">Film & Video</option>
        <option value="Food">Food</option>
        <option value="Games">Games</option>
        <option value="Art">Art</option>
        <option value="Journalism">Journalism</option>
        <option value="Music">Music</option>
        <option value="Photography">Photography</option>
        <option value="Publishing">Publishing</option>
        <option value="Theater">Theater</option>
    </select>
          <p><input type = "submit" value = "Submit" /></p>
      </form>

      </div>
      {% endblock %}
    </article>
  </body>

</html>
